.container {
  overflow: hidden;
}
.trading {
  margin: 0 auto;
  padding-top: 70px;
}
.trading .trading-title li {
  float: left;
  width: 146px;
  text-align: center;
  margin: 0 45px;
}
.trading .trading-title li a {
  font: 14px '微软雅黑';
  color: #121212;
  letter-spacing: 2px;
}
.trading .progress-bar {
  margin: 23px 0;
  position: relative;
}
.trading .progress-bar li {
  float: left;
  width: 146px;
  text-align: center;
  margin: 0 45px;
}
.trading .progress-bar li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #b7b7b7;
  border-radius: 50%;
  position: relative;
}
.trading .progress-bar li a .serial-number {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font: 14px '微软雅黑';
  color: #fff;
  font-weight: bold;
  line-height: 18px;
}
.trading .progress-bar li:first-child + li a .serial-number span {
  background-color: #009c4e;
}
.trading .progress-bar li:first-child + li a .serial-number span {
  width: 18px;
  height: 18px;
  color: transparent;
  background: url(../img/order_details_02.png) no-repeat center;
}
.trading .progress-bar .active a .serial-number {
  background-color: #009c4e;
}
.trading .progress-bar .active a .serial-number span {
  width: 18px;
  height: 18px;
  color: transparent;
  background: url(../img/order_details_02.png) no-repeat center;
}
.trading .progress-bar .on a .serial-number {
  background-color: #009c4e;
}
.trading .line {
  width: 940px;
  z-index: -2;
  border-top: 7px solid #dbdbdb;
  position: relative;
  left: 0;
  right: 0;
  margin: -46px auto 0;
}
.trading .line li {
  padding: 0 117px;
  margin-top: -21px;
  width: 1px;
  height: 3px;
  float: left;
  /*position:absolute;*/
  /*z-index:100;top:-5px;*/
}
.trading .line li:first-child {
  padding-left: 0;
}
.trading .line li:first-child + li {
  background: #009c4e;
}
.trading .line li:first-child + li + li {
  background: #009c4e;
}
.trading .line li:first-child + li + li + li {
  background: #009c4e;
}
.trading .line .active,
.trading .line .on {
  background: #009c4e;
}
.trading .trading-time {
  margin: 18px 0 50px;
}
.trading .trading-time li {
  float: left;
  width: 146px;
  margin: 0 49px;
  font: 14px '微软雅黑';
  color: #b7b7b7;
}
.address-box {
  width: 100%;
  overflow: hidden;
}
.address-box .select-address {
  font-size: 16px;
  font-weight: bold;
  line-height: 38px;
}
.address-box .list-box {
  padding-top: 15px;
  width: 1212px;
  margin-left: -12px;
  overflow: hidden;
}
.address-box .list-box .address-list {
  float: left;
  margin-left: 12px;
  overflow: hidden;
  padding: 14px;
  position: relative;
  width: 260px;
  height: 110px;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  background: url("../img/confirm_double.png") no-repeat;
  background-position: 0 -138px;
  font-size: 14px;
}
.address-box .list-box .address-list.checked {
  background-position: 0 0;
}
.address-box .list-box .address-list.checked .deafult,
.address-box .list-box .address-list.checked .edit,
.address-box .list-box .address-list.checked .check-btn {
  display: block;
}
.address-box .list-box .address-list .deafult {
  width: 74px;
  height: 18px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  display: none;
}
.address-box .list-box .address-list .title {
  border-bottom: 1px solid grey;
}
.address-box .list-box .address-list .title span {
  line-height: 22px;
}
.address-box .list-box .address-list .title .city {
  font-weight: bold;
}
.address-box .list-box .address-list .adress-details {
  padding: 15px 0;
  height: 8px;
  overflow: hidden;
}
.address-box .list-box .address-list .adress-details span {
  padding-right: 8px;
}
.address-box .list-box .address-list .tel {
  line-height: 26px;
}
.address-box .list-box .address-list .edit {
  color: #b8635e;
  display: none;
}
.address-box .list-box .address-list .edit span {
  cursor: pointer;
}
.address-box .list-box .address-list .check-btn {
  display: none;
  width: 28px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ef2323;
  transform-origin: left bottom;
  transform: rotate(45deg);
}
.address-box .list-box .address-list .check-btn:before {
  content: '';
  display: block;
  width: 5px;
  height: 12px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 2px;
  top: 22px;
}
.address-box .showall {
  padding-top: 20px;
  font-size: 14px;
  color: #b8635e;
}
.address-box .showall span {
  cursor: pointer;
}
.pro-box {
  padding-top: 65px;
}
.pro-box .pro-sure {
  padding: 40px 0;
  font-size: 16px;
  line-height: 28px;
}
.pro-box .caption {
  line-height: 34px;
  font-size: 14px;
  overflow: hidden;
  border-bottom: 3px solid #b2d1ff;
}
.pro-box .caption div {
  float: left;
}
.pro-box .title1 {
  width: 375px;
  padding-left: 100px;
}
.pro-box .title2 {
  width: 208px;
}
.pro-box .title3 {
  width: 205px;
}
.pro-box .title4 {
  width: 168px;
}
.pro-box .title5 {
  width: 120px;
}
.pro-box .list-box {
  padding-left: 26px;
  overflow: hidden;
  font-size: 14px;
  line-height: 24px;
}
.pro-box .list-box .list {
  padding: 35px 0 26px;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
}
.pro-box .list-box .list div {
  float: left;
  overflow: hidden;
}
.pro-box .list-box .list .item1 {
  width: 448px;
}
.pro-box .list-box .list .item1 .img-box {
  float: left;
  width: 142px;
}
.pro-box .list-box .list .item1 .img-box .pro-img {
  width: 140px;
  height: 140px;
  border: 1px solid #eaeaea;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.pro-box .list-box .list .item1 .dsc {
  width: 294px;
  float: right;
  text-align: left;
}
.pro-box .list-box .list .item2 {
  width: 208px;
}
.pro-box .list-box .list .item3 {
  width: 205px;
}
.pro-box .list-box .list .item3 .cur-price {
  color: #f8b0b0;
}
.pro-box .list-box .list .item3 .pre-price {
  text-decoration: line-through;
}
.pro-box .list-box .list .item4 {
  width: 168px;
}
.pro-box .list-box .list .item5 {
  width: 120px;
  color: #f8b0b0;
}
.extra-msg {
  font-size: 14px;
  color: #2d2d2d;
  margin-left: 26px;
  margin-top: 12px;
  background-color: #f2f7ff;
  width: 100%;
  padding: 20px;
}
.extra-msg div {
  padding: 6px 0;
}
.extra-msg .invoice-header .name {
  padding-right: 14px;
}
.extra-msg .invoice-header .edit {
  color: #b8635e;
  cursor: pointer;
}
.extra-msg .preferential-way select {
  width: 180px;
  height: 40px;
  color: #b7b7b7;
  border: solid 1px #b7b7b7;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-left: 1em;
  background: url("../img/confirm_action_01.png") no-repeat scroll right center #ffffff;
}
.extra-msg .preferential-way select option {
  color: #2d2d2d;
  padding: 5px 0;
}
.extra-msg .order-message input {
  width: 466px;
  height: 38px;
  border: 1px solid #b7b7b7;
  padding-left: 1em;
}
.extra-msg .order-message input::-webkit-input-placeholder {
  color: #b7b7b7;
}
.extra-msg .order-message input:-moz-placeholder {
  color: #b7b7b7;
}
.extra-msg .order-message input::-moz-placeholder {
  color: #b7b7b7;
}
.extra-msg .order-message input:-ms-input-placeholder {
  color: #b7b7b7;
}
.submit-box {
  padding: 40px 0;
  overflow: hidden;
}
.submit-box .tip-msg {
  width: 308px;
  height: 134px;
  border: 1px solid #ef2323;
  float: right;
  padding-top: 4px;
}
.submit-box .tip-msg p {
  color: #ef2323;
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
  line-height: 32px;
}
.submit-box .tip-msg p span {
  color: #2d2d2d;
}
.submit-box .clearfix:before,
.submit-box .clearfix:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.submit-box .submit-btn {
  width: 100%;
  text-align: right;
}
.submit-box .submit-btn span {
  display: inline-block;
  width: 164px;
  height: 40px;
  background-color: #ef2323;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
