
.current-position div{font:14px/36px'微软雅黑';color:#121212;}
.brand{border-top:1px solid #b7b7b7;}
.title-left{font:16px'微软雅黑';color:#2d2d2d;float:left;width:162px;background:#e4e4e4;padding:12px 0 127px 16px;}
.logo-img{width:790px;float:left;margin:13px 0 0 27px;}
.logo-img table{width:790px;display: block;border-color:#b7b7b7;}
.logo-img table tr td{line-height:0;}
.more{margin:13px 0 0 25px;float:left;width:60px;height:28px;border:1px solid #b7b7b7;padding:0 8px;}
.more p{text-align: center;font:14px'微软雅黑';color:#2d2d2d;line-height: 28px;padding-right:32px;
    background:url(../img/shop_icon_01.png) no-repeat right center;}
.multi-select{margin:13px 0 0 12px;float:left;width:60px;height:28px;border:1px solid #b7b7b7;padding:0 8px;}
.multi-select p{text-align: center;font:14px'微软雅黑';color:#2d2d2d;line-height: 28px;padding-left:32px;
    background:url(../img/shop_icon_02.png) no-repeat left center;}

.screen-size{border-top:1px solid #b7b7b7;}
.screen-size .title-left{float:left;width:162px;background:#e4e4e4;padding:16px 0 16px 16px;}
.size li{float:left;margin:16px 26px;}
.size li a{font:14px'微软雅黑';color:#2d2d2d;}
.run-memory{border-top:1px solid #b7b7b7;}
.run-memory .title-left{float:left;width:162px;background:#e4e4e4;padding:16px 0 16px 16px;}
.memory li{float:left;margin:16px 0 16px 84px;}
.memory li a{font:14px'微软雅黑';color:#2d2d2d;}
.memory li:first-child{margin:16px 0 16px 26px;}
.network-memory{border-top:1px solid #b7b7b7;}
.network-memory .title-left{float:left;width:162px;background:#e4e4e4;padding:16px 0 16px 16px;}
.network li{float:left;margin:16px 26px;}
.network li a{font:14px'微软雅黑';color:#2d2d2d;}
.advanced-options{border-top:1px solid #b7b7b7;}
.advanced-options .title-left{float:left;width:162px;background:#e4e4e4;padding:16px 0 16px 16px;}
.options li{float:left;margin:9px 26px;padding:6px 8px;border:1px solid #b7b7b7;}
.options li a{font:14px'微软雅黑';color:#2d2d2d;display:inline-block;padding-right:22px;
    background:url(../img/shop_icon_01.png) no-repeat right center;}

.screening{margin-bottom:12px;border-top:1px solid #b7b7b7;border-bottom:1px solid #b7b7b7;}
.screening .title-left{float:left;width:162px;background:#e4e4e4;padding:16px 0 16px 16px;}
.sorting li{float:left;margin:8px 0;padding:7px 10px;border:1px solid #b7b7b7;}
.sorting li:first-child{margin-left:26px;}
.sorting li a{font:14px'微软雅黑';color:#2d2d2d;display:inline-block;padding-right:21px;
    background:url(../img/shop_icon_04.png) no-repeat right center;}
.sorting li:first-child+li+li+li+li a{background:url(../img/shop_icon_05.png) no-repeat right center;}
.sorting li:hover,.sorting .on{background:#ef2323;border:1px solid #ef2323;}
.sorting li:hover a,.sorting .on a{color:#fff;background:url(../img/shop_icon_03.png) no-repeat right center;}
.sorting li:first-child+li+li+li+li+li{margin-left:13px;padding:0;border:none;}
.sorting li:first-child+li+li+li+li+li span{display:inline-block;width:15px;height:10px;background:url(../img/shop_icon_06.png) no-repeat center center;}
.sorting li:first-child+li+li+li+li+li input{font:14px'微软雅黑';color:#b7b7b7;border:1px solid #b7b7b7;width:82px;height:34px;}
.sorting li:first-child+li+li+li+li+li:hover{background:none;border:none;}
.sorting li:first-child+li+li+li+li+li+li{margin-left:152px;padding:0;border:none;}
.sorting li:first-child+li+li+li+li+li+li:hover{background:none;border:none;}
.sorting li:first-child+li+li+li+li+li+li label{display:block;border:1px solid #b7b7b7;}
.sorting li:first-child+li+li+li+li+li+li label input{border:none;font:14px'微软雅黑';color:#b7b7b7;padding-left:6px;width:193px;height:32px;letter-spacing: 2px;}
.sorting li:first-child+li+li+li+li+li+li label input:first-child+input{margin-left:-5px;font:16px'微软雅黑';color:#fbfaf6;width:69px;height:34px;
    background:#b7b7b7;border:none;}


.shop-pro{margin-top:34px;}
.shop-pro li{float:left;margin-left:45px;}
.shop-pro li:first-child{margin-left:0;}
.shop-pro li:first-child+li .shop-pro-img a img{margin-top:39px;}
.shop-pro li:first-child+li+li .shop-pro-img a img{margin-top:48px;}
.shop-pro-img{position:relative;text-align:center;width:369px;height:310px;background:#b4b7ef;}
.shop-pro-img a img{margin-top:20px;}
.shop-pro-img .mark{display:inline-block;font:18px'微软雅黑';color:#fff0c9;width:69px;height:62px;line-height:62px;
    background:url(../img/shop_icon_07.png) no-repeat center center;position:absolute;top:6px;right:34px;}
.pro-information{width:319px;border:1px solid #b7b7b7;border-top:none;padding:0 24px;}
.pro-information p{margin-bottom:6px;width:334px;font:16px'微软雅黑';color:#2d2d2d;}
.pro-information .price{padding-top:10px;font:16px/29px'微软雅黑';color:#ef2323;}
.pro-information .price span{margin-left:48%;text-align:right;font:14px'微软雅黑';color:#b7b7b7;}
.pro-information .phone-introduction{font:16px'微软雅黑';color:#2d2d2d;}
.pro-information .comments{margin:20px 0;font:14px'微软雅黑';color:#b7b7b7;}
.pro-information .comments a{color:#eca41a;}

.page{margin:40px 0 0 28%;overflow:hidden;}
.page li{margin-right:5px;float:left;padding:12px 14px;border:1px solid #b7b7b7;}
.page li a{font:14px'微软雅黑';color:#b7b7b7;}
.page li:hover,.page .on{background:#ef2323;}
.page li:hover a,.page .on a{color:#fff;}
.page li:first-child{margin-right:14px;}
.page li:first-child+li+li+li+li+li+li+li{margin-right:0;}
.page li:first-child+li+li+li+li+li+li+li+li{border:none;margin-right:0;padding:0 7px;height:48px;background:url(../img/page_03.png) no-repeat center center;}
.page li:first-child+li+li+li+li+li+li+li+li+li a{padding-right:24px;background:url(../img/page_02.png) no-repeat right center;}
.page li:first-child a{padding-left:24px;background:url(../img/page_01.png) no-repeat left center;}